# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
env/
ENV/
.venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Other files
*.DS_Store
*.egg-info/
dist/
build/
